body {
    background-color: rgb(57, 28, 77);
    color: white; 
    font-family:"PT Serif", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: rgb(154, 139, 172);
    color: white;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 80%;
}